# Tutorial Exercise: Yelp reviews

## Introduction

This exercise uses a small subset of the data from Kaggle's [Yelp Business Rating Prediction](https://www.kaggle.com/c/yelp-recsys-2013) competition.

**Description of the data:**

- **`yelp.csv`** contains the dataset. It is stored in the repository (in the **`data`** directory), so there is no need to download anything from the Kaggle website.
- Each observation (row) in this dataset is a review of a particular business by a particular user.
- The **stars** column is the number of stars (1 through 5) assigned by the reviewer to the business. (Higher stars is better.) In other words, it is the rating of the business by the person who wrote the review.
- The **text** column is the text of the review.

**Goal:** Predict the star rating of a review using **only** the review text.

**Tip:** After each task, I recommend that you check the shape and the contents of your objects, to confirm that they match your expectations.

## Task 1

Read **`yelp.csv`** into a pandas DataFrame and examine it.

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("data/yelp.csv")
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [25]:
df.isna().sum()

business_id    0
date           0
review_id      0
stars          0
text           0
type           0
user_id        0
cool           0
useful         0
funny          0
dtype: int64

## Task 2

Create a new DataFrame that only contains the **5-star** and **1-star** reviews.

- **Hint:** [How do I apply multiple filter criteria to a pandas DataFrame?](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb#9.-How-do-I-apply-multiple-filter-criteria-to-a-pandas-DataFrame%3F-%28video%29) explains how to do this.

In [26]:
review_df = df[(df.stars==5) | (df.stars==1)]
review_df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4

In [27]:
review_df.stars.unique()

array([5, 1], dtype=int64)

## Task 3

Define X and y from the new DataFrame, and then split X and y into training and testing sets, using the **review text** as the only feature and the **star rating** as the response.

- **Hint:** Keep in mind that X should be a pandas Series (not a DataFrame), since we will pass it to CountVectorizer in the task that follows.

In [28]:
from sklearn.model_selection import train_test_split
X=review_df.text
y=review_df.stars
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3064,)
(1022,)
(3064,)
(1022,)

## Task 4

Use CountVectorizer to create **document-term matrices** from X_train and X_test.

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
vect.fit(X_train)
X_train_dtm = vect.transform(X_train)
X_test_dtm= vect.transform(X_test)

In [30]:
pd.DataFrame(X_train_dtm.toarray(), columns=vect.get_feature_names_out())

,00,000,00a,00am,00pm,01,02,03,03342,04,...,zucchini,zuchinni,zumba,zupa,zuzu,zwiebel,zzed,éclairs,école,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3059,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3060,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3061,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
pd.DataFrame(X_test_dtm.toarray(), columns=vect.get_feature_names_out())

,00,000,00a,00am,00pm,01,02,03,03342,04,...,zucchini,zuchinni,zumba,zupa,zuzu,zwiebel,zzed,éclairs,école,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Task 5

Use multinomial Naive Bayes to **predict the star rating** for the reviews in the testing set, and then **calculate the accuracy** and **print the confusion matrix**.

- **Hint:** [Evaluating a classification model](https://github.com/justmarkham/scikit-learn-videos/blob/master/09_classification_metrics.ipynb) explains how to interpret both classification accuracy and the confusion matrix.

In [34]:
from sklearn.naive_bayes import MultinomialNB
nb=MultinomialNB()
# train the model using X_train_dtm (timing it with an IPython "magic command")
%time nb.fit(X_train_dtm, y_train)

CPU times: total: 15.6 ms
Wall time: 9.97 ms

MultinomialNB()

In [36]:
y_pred_class = nb.predict(X_test_dtm)
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.9187866927592955

In [37]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[126,  58],
       [ 25, 813]], dtype=int64)

## Task 6 (Challenge)

Calculate the **null accuracy**, which is the classification accuracy that could be achieved by always predicting the most frequent class.

- **Hint:** [Evaluating a classification model](https://github.com/justmarkham/scikit-learn-videos/blob/master/09_classification_metrics.ipynb) explains null accuracy and demonstrates two ways to calculate it, though only one of those ways will work in this case. Alternatively, you can come up with your own method to calculate null accuracy!

In [38]:
y_test.value_counts()

stars
5    838
1    184
Name: count, dtype: int64

In [39]:
y_test.mean()

4.279843444227006

In [41]:
y_test.value_counts().head(1) / len(y_test)

stars
5    0.819961
Name: count, dtype: float64

## Task 7 (Challenge)

Browse through the review text of some of the **false positives** and **false negatives**. Based on your knowledge of how Naive Bayes works, do you have any ideas about why the model is incorrectly classifying these reviews?

- **Hint:** [Evaluating a classification model](https://github.com/justmarkham/scikit-learn-videos/blob/master/09_classification_metrics.ipynb) explains the definitions of "false positives" and "false negatives".
- **Hint:** Think about what a false positive means in this context, and what a false negative means in this context. What has scikit-learn defined as the "positive class"?

In [42]:
X_test[y_test<y_pred_class]

2175    This has to be the worst restaurant in terms o...
1781    If you like the stuck up Scottsdale vibe this ...
2674    I'm sorry to be what seems to be the lone one ...
9984    Went last night to Whore Foods to get basics t...
3392    I found Lisa G's while driving through phoenix...
8283    Don't know where I should start. Grand opening...
2765    Went last week, and ordered a dozen variety. I...
2839    Never Again,\nI brought my Mountain Bike in (w...
321     My wife and I live around the corner, hadn't e...
1919                                         D-scust-ing.
2490    Lazy Q CLOSED in 2010.  New Owners cleaned up ...
9125    La Grande Orange Grocery has a problem. It can...
9185    For frozen yogurt quality, I give this place a...
436     this another place that i would give no stars ...
2051    Sadly with new owners comes changes on menu.  ...
1721    This is the closest to a New York hipster styl...
3447    If you want a school that cares more about you...
842     Boy is the name a temptation.Seriously :)  I'l...
6159    Really, if I could, I would give this place ze...
943     Don't waste your time...Arrowhead mall on the ...
5977    You want good food? You'd be better off smuggl...
8833    The owner has changed hands & this place isn't...
6584    Jimmy Johns is cheaper and better ... The Capr...
1899    Buca Di Beppo is literally, italian restaurant...
9953    "Hipster,Trendy" ????-I think NOT !!!! Very di...
2060                This place is closed.  Good riddance.
3082    Currently having a liquidation sale, but it's ...
8220    Maybe I ate at a different restaurant than the...
3634    Seriously?! With grocery stores like Fresh & E...
3266    Absolutely awful... these guys have NO idea wh...
7397    This place sucks!! I moved to the valley and h...
4473    It is what you would expect from any themed pl...
5502    Angry Bro Bar !  Please go here if you wear si...
2615    Great in its day, now leaves a lot to be desir...
3413    I purchased the Enotria groupon when it was re...
2999    I can't even believe I actually went to this r...
1372    No offense to everyone who gave this place 5 s...
1291    Every time I come here the staff is so rude! I...
6222    My mother always told me, if I didn't have any...
9296    My boyfriend and I tried this place last year ...
7975    What are you all talking about?! This place is...
4630    I used to always go here for tires until my me...
7130    I was not impressed. The food was bad & expens...
5818    Most horrible buffet I have ever been to.\n\nM...
3704    Staff is nice, and that's it.\nThey use very c...
8741    They served us stale rice.  Average main dishe...
3938    We were so disappointed!  We were on vacation ...
7631    this is a business located in the fry's grocer...
8681    As I promised myself, I'd go back again to try...
1532    Cold, under done chips. If a Mexican food rest...
113     Unless you are a regular or look like your wal...
4165    OMG! what is the rave about? this place is dis...
9299    The salad plates were not chilled... As they u...
4311    Donuts are really good, if they have any when ...
7035    Totally excited to try this place out, my gran...
8000    Still a place that is unacceptable in my book-...
3755    Have been going to LGO since 2003 and have alw...
507     HELLISH HELLISH SUMMER WEATHER (March thru Oct...
Name: text, dtype: object

In [43]:
X_test[5977]

"You want good food? You'd be better off smuggling goat cheese in your boot and risking an anal cavity search for doing so than eating at this airport.\n\nYou want scenery? Try desert.\n\n\nYou want a comfortable seat to wait for your delayed flight?  Well you are in the desert so you'd probably better off finding a cactus and straddling it face first.\n\nYou want a relatively close connection for your flight? Well tough shit.  Oh yeah, they've got people movers but somehow they have this magical ability to disengage people's legs.  Yeah I know it sounds crazy but as soon as people step on to these things their legs stop moving and they plant their fat ass right in the middle of the walk way.  Whats wrong with your legs you mammoth!?"

In [ ]:
there is "good","better" in review.

In [44]:
X_test[y_test>y_pred_class]

7148    I now consider myself an Arizonian. If you dri...
4963    This is by far my favourite department store, ...
6318    Since I have ranted recently on poor customer ...
380     This is a must try for any Mani Pedi fan. I us...
5565    I`ve had work done by this shop a few times th...
3448    I was there last week with my sisters and whil...
6050    I went to sears today to check on a layaway th...
2504    I've passed by prestige nails in walmart 100s ...
2475    This place is so great! I am a nanny and had t...
241     I was sad to come back to lai lai's and they n...
3149    I was told to see Greg after a local shop diag...
423     These guys helped me out with my rear windshie...
763     Here's the deal. I said I was done with OT, bu...
8956    I took my computer to RedSeven recently when m...
750     This store has the most pleasant employees of ...
9765    You can't give anything less than 5 stars to a...
6334    I came here today for a manicure and pedicure....
1282    Loved my haircut. Walked in and waited for jus...
1266    I've never been to this location before. My hu...
402     Once again Wildflower proves why it's my favor...
4034    "Fine dining" is not just a setting.  it isn't...
2444    EXCELLENT CUSTOMER SERVICE! \n\nEven with Happ...
2494    What a great surprise stumbling across this ba...
5736    Thank goodness for Sue at Mill Avenue Travel. ...
7903    First, I'm sorry this review is lengthy, but i...
Name: text, dtype: object

In [ ]:
have "poor" etc negative words in reviews.

## Task 8 (Challenge)

Calculate which 10 tokens are the most predictive of **5-star reviews**, and which 10 tokens are the most predictive of **1-star reviews**.

- **Hint:** Naive Bayes automatically counts the number of times each token appears in each class, as well as the number of observations in each class. You can access these counts via the `feature_count_` and `class_count_` attributes of the Naive Bayes model object.

In [45]:
X_train_tokens = vect.get_feature_names_out()
print(len(X_train_tokens))

16825

In [46]:
nb.feature_count_.shape

(2, 16825)

In [47]:
one_star =nb.feature_count_[0,:]
five_star=nb.feature_count_[1,:]

In [49]:
tokens = pd.DataFrame({"token":X_train_tokens,"one_star":one_star,"five_star":five_star}).set_index("token")
tokens.head()

       one_star  five_star
token
00         26.0       39.0
000         4.0        5.0
00a         1.0        0.0
00am        3.0        2.0
00pm        1.0        4.0

In [50]:
nb.class_count_

array([ 565., 2499.])

In [51]:
tokens["one_star"]=tokens.one_star+1
tokens["five_star"]=tokens.five_star+1

In [52]:
tokens["one_star"]=tokens.one_star/nb.class_count_[0]
tokens["five_star"]=tokens.five_star/nb.class_count_[1]

In [53]:
tokens["five_star_ratio"]=tokens.five_star/tokens.one_star

In [54]:
#top 10 tokens for five star review
tokens.sort_values("five_star_ratio",ascending= False)

              one_star  five_star  five_star_ratio
token
fantastic     0.003540   0.077231        21.817727
perfect       0.005310   0.098039        18.464052
yum           0.001770   0.024810        14.017607
favorite      0.012389   0.138055        11.143029
outstanding   0.001770   0.019608        11.078431
...                ...        ...              ...
unacceptable  0.015929   0.000400         0.025121
filthy        0.019469   0.000400         0.020554
disgusting    0.042478   0.000800         0.018841
refused       0.024779   0.000400         0.016149
staffperson   0.030088   0.000400         0.013299

[16825 rows x 3 columns]

In [55]:
#top 10 tokens for one star review
tokens.sort_values("five_star_ratio",ascending= True)

                one_star  five_star  five_star_ratio
token
staffperson     0.030088   0.000400         0.013299
refused         0.024779   0.000400         0.016149
disgusting      0.042478   0.000800         0.018841
filthy          0.019469   0.000400         0.020554
unprofessional  0.015929   0.000400         0.025121
...                  ...        ...              ...
outstanding     0.001770   0.019608        11.078431
favorite        0.012389   0.138055        11.143029
yum             0.001770   0.024810        14.017607
perfect         0.005310   0.098039        18.464052
fantastic       0.003540   0.077231        21.817727

[16825 rows x 3 columns]

## Task 9 (Challenge)

Up to this point, we have framed this as a **binary classification problem** by only considering the 5-star and 1-star reviews. Now, let's repeat the model building process using all reviews, which makes this a **5-class classification problem**.

Here are the steps:

- Define X and y using the original DataFrame. (y should contain 5 different classes.)
- Split X and y into training and testing sets.
- Create document-term matrices using CountVectorizer.
- Calculate the testing accuracy of a Multinomial Naive Bayes model.
- Compare the testing accuracy with the null accuracy, and comment on the results.
- Print the confusion matrix, and comment on the results. (This [Stack Overflow answer](http://stackoverflow.com/a/30748053/1636598) explains how to read a multi-class confusion matrix.)
- Print the [classification report](http://scikit-learn.org/stable/modules/model_evaluation.html#classification-report), and comment on the results. If you are unfamiliar with the terminology it uses, research the terms, and then try to figure out how to calculate these metrics manually from the confusion matrix!

In [56]:
X= df.text
y=df.stars

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [58]:
vect = CountVectorizer()
vect.fit(X_train)
X_train_dtm = vect.transform(X_train)
X_test_dtm= vect.transform(X_test)

In [59]:
pd.DataFrame(X_test_dtm.toarray(), columns=vect.get_feature_names_out())

,00,000,007,00a,00am,00pm,01,02,04,05,...,zur,zuzu,zuzus,zweigel,zwiebel,zy,zzed,zzzzzzzzzzzzzzzzz,école,òc
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
nb=MultinomialNB()
# train the model using X_train_dtm (timing it with an IPython "magic command")
%time nb.fit(X_train_dtm, y_train)

CPU times: total: 31.2 ms
Wall time: 22.9 ms

MultinomialNB()

In [61]:
y_pred_class = nb.predict(X_test_dtm)
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.4712

In [62]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[ 55,  14,  24,  65,  27],
       [ 28,  16,  41, 122,  27],
       [  5,   7,  35, 281,  37],
       [  7,   0,  16, 629, 232],
       [  6,   4,   6, 373, 443]], dtype=int64)

In [63]:
y_test.value_counts().head(1) / len(y_test)

stars
4    0.3536
Name: count, dtype: float64

In [64]:
print(metrics.classification_report(y_test, y_pred_class))

              precision    recall  f1-score   support

           1       0.54      0.30      0.38       185
           2       0.39      0.07      0.12       234
           3       0.29      0.10      0.14       365
           4       0.43      0.71      0.53       884
           5       0.58      0.53      0.55       832

    accuracy                           0.47      2500
   macro avg       0.45      0.34      0.35      2500
weighted avg       0.46      0.47      0.43      2500